{% extends 'base.html' %}

{% block title %}Play Quarry{% endblock %}
{% block coffeescript %}
<script type="text/javascript" src="js/coffee-script.js"></script>
<script type="text/coffeescript">

($ 'document').ready () ->

    draw = ->

    canvas = document.getElementById 'quarry'
    ctx = canvas.getContext '2d'

    ctx.fillStyle = 'rgb(0,0,0)'
    ctx.fillRect 0,0,800,500

    socket = io.connect 'http://127.0.0.1:3000'
    socket.on 'test', (data) -> console.log data
    socket.on 'blockUpdate', (data) ->
        console.log data

    draw()

</script>

{% endblock %}

{% block content %}
    <canvas id="quarry" width="800" height="500"></canvas>
{% endblock %}
